<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ElectronicStoreMySQL.Model.mySQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="MYSQL_URI" connectionString="Server=localhost; Database=mydb; Uid=root; Pwd=6ponkii6lici; pooling=true" />-->
    <add name="MYSQL_URI" connectionString="server=127.0.0.1;user id=root;password=6ponkii6lici;persist security info=True;database=ElectronicStoresSystem" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>